<!-- En el head de tu HTML -->
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <img src="{{ url_for('static', filename='muni.png') }}" alt="Imagen">
    <title>Script Runner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <div class="container">
        <h1>ROBOTITOS :D</h1>
        <form action="/execute" method="post" onsubmit="return ejecutarScript()">
            <label for="nombre_script">Seleccionar script:</label>
            <select id="nombre_script" name="nombre_script" required>
                <option value="ejecutar1">OCR Facturas</option>
                <option value="robot1">Carga Compromisos</option>
                <option value="ejecutar2">OCR Comprobantes</option>
                <option value="robot2">Carga Devengados</option>
            </select>
            <button type="submit" onclick="mostrarMensajeBoton()">Ejecutar/Reanudar</button>
            <button type="button" onclick="cancelarEjecucionScript()">Cancelar/Pausar</button>
            <div id="mensajeDespuesDePausa" class="mensaje-despues-de-pausa">Pausado</div>
        </form>

        <div id="mensajeEjecucion" style="display: none;">Ejecutando script...</div>
        {% if result %}
        <p class="result {% if 'Error' in result %}error{% else %}success{% endif %}">{{ result }}</p>
        {% endif %} 
    </div>
</body>
</html>